<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<h4 style="float: right; margin: 0px 0px 0px 0px;"><a href="#!blog" ng-show="currentUser.name">Create New Blog</a></h4>
<div class="container" ng-repeat="u in bc.blogsAccept">
	<div class="ViewBlog">
		<div class="col-md-4 col-md-offset-4 ">
        
            <!-- Begin fluid width widget -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list-alt"></span>  Recent Posts
                    
                     <a style="float:right"  ng-show="currentUser.userid == u.userid" ng-click="bc.editandupdateBlog(u)"><span class="glyphicon glyphicon-pencil editContent"></span></a>
                   <a style="float:right"  ng-show="currentUser.userid == u.userid" ng-click="bc.remove(u.blogid)" ><span class="glyphicon glyphicon-trash editContent"></span></a> </h3>
  
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        
                            <div class="media-body">
                                <h4 class="media-heading">
                                                <a href="#" class="text-info">
                                                   <span ng-bind="u.title"></span></h4>
                                                   
                                <p class="margin-top-10 margin-bottom-20">
                                    <h4>Created By: <span ng-bind="u.username"></span> <br>
                                         with Status: <span ng-bind="u.status"></span></h4>
                                          
                                    <span ng-bind="u.description"></span>   </p>
                            </div>
                        
                               <span class="blog-date" ng-bind="u.timeStamp" ></span>
                    </ul>
                    <a href="#" class="btn btn-default btn-block">More Blog Posts »</a>
                </div>
            </div>
            <!-- End fluid width widget -->
            
        </div>
	</div>
</div>


</body>
</html>
